<div class="column is-one-quarter">
    <div class="panel">
        <div class="panel-heading"> Trends </div>
        <div class="panel-block">
            Trend 1
        </div>
        <div class="panel-block">
            Trend 2
        </div>
        <div class="panel-block">
            Trend 3
        </div>
        <div class="panel-block">
            Trend 4
        </div>
        <div class="panel-block">
            Trend 5
        </div>
    </div>
</div>