<div class="section">
    <div class="container">
        <div class="column is-centered">
            <div class=" is-centered">
                <form id="payment-form">
                    <div class="field">
                        <div class="control">
                            <label class="label" for="name"></label>
                            <input class="input" type="text" name="name" id="name" value="Test Me">
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="control">
                            <label class="label" for="email"></label>
                            <input class="input" type="email" name="email" id="email" value="text@example.com">
                        </div>
                    </div>
                    
                    <div class="field">
                        <div class="control">
                            <label class="label" for="card-element">Card</label>
                            <div id="card-element"></div>
                        </div>
                    </div>

                        <!--Stripe.js injects the Payment Element-->
                </div>

                <div class="field">
                    <div class="control">
                    <button id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <span id="button-text">Pay now</span>
                    </button>
                    <div id="payment-message" class="hidden"></div>
                    </div>
                </div>
                
                </form>
            </div>
        </div>
    </div>
</div>
