<div class="column is-half">
    <div class="tabs is-medium" id="tabs">
        <ul>
            <li class="is-active" data-tab="1"><a>Post</a></li>
            <li data-tab="2"><a>Likes</a></li>
        </ul>
    </div>

    <div id="tab-content">
        <section class="is-active" data-content="1">
            <%= render 'user_post_display'%>
        </section>
        <section data-content="2">
            <%= render 'user_post_likes'%>
        </section>
    </div>
    
</div>