<section class="section">
    <div class="container">
        <div class="columns">
            <%= render 'user_info'%>
            <%= render 'profile_users/follow_list/following_list' %>
        </div>
    </div>
</section>
